<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Regression" verbose="2" parallel="none">

	<listeners>
		<listener class-name="com.ei.test_cases.EIListener" />
	</listeners>

	<test name="Login">
		<packages>
			<package name="com.ei.test_cases.login" />
		</packages>
	</test>

	<test name="Sorting">
		<packages>
			<package name="com.ei.test_cases.sorting" />
		</packages>
	</test>
	<test name="Filters">
		<packages>
			<package name="com.ei.test_cases.filter" />
		</packages>
	</test>

</suite>