<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
  
<suite name="Suite_1" verbose="2"  >
  <test name="Login tests">
    <classes>
        <!-- <class name="com.ei.testCases.LoginTests.LoginPageTest" />-->  
         <class name="com.ei.testCases.DummyTest" /> 
    </classes>
  </test>
</suite>